{{!--  --}}
{{> headers/charts-header}}

<div class="content">
    <div class="container-fluid">
        <div class="section">
            <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">Users Behavior</h4>
                            <p class="card-category">24 Hours performance</p>
                        </div>
                        <div class="card-body ">
                            <div id="chartHours" class="ct-chart">
                                {{!-- SVG with input data here
                    <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="245px"
                        class="ct-chart-line" style="width: 100%; height: 245px;">
                        <g class="ct-grids">
                            <line y1="210" y2="210" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="185.625" y2="185.625" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="161.25" y2="161.25" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="136.875" y2="136.875" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="112.5" y2="112.5" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="88.125" y2="88.125" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="63.75" y2="63.75" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="39.375" y2="39.375" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                            <line y1="15" y2="15" x1="50" x2="998" class="ct-grid ct-vertical"></line>
                        </g>
                        <g>
                            <g class="ct-series ct-series-a">
                                <path
                                    d="M50,210L50,140.044C89.5,140.044,129,116.156,168.5,116.156C208,116.156,247.5,90.563,287,90.563C326.5,90.563,366,90.075,405.5,90.075C445,90.075,484.5,74.963,524,74.963C563.5,74.963,603,67.163,642.5,67.163C682,67.163,721.5,39.863,761,39.863C800.5,39.863,840,40.594,879.5,40.594C919,40.594,958.5,26.7,998,26.7C1037.5,26.7,1077,17.925,1116.5,17.925C1156,17.925,1195.5,3.787,1235,3.787C1274.5,3.787,1314,-20.1,1353.5,-20.1L1353.5,210Z"
                                    class="ct-area"
                                    ct:values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]">
                                </path>
                            </g>
                            <g class="ct-series ct-series-b">
                                <path
                                    d="M50,210L50,193.669C89.5,193.669,129,172.95,168.5,172.95C208,172.95,247.5,175.144,287,175.144C326.5,175.144,366,151.5,405.5,151.5C445,151.5,484.5,140.044,524,140.044C563.5,140.044,603,128.344,642.5,128.344C682,128.344,721.5,103.969,761,103.969C800.5,103.969,840,103.481,879.5,103.481C919,103.481,958.5,78.619,998,78.619C1037.5,78.619,1077,77.887,1116.5,77.887C1156,77.887,1195.5,77.4,1235,77.4C1274.5,77.4,1314,52.294,1353.5,52.294L1353.5,210Z"
                                    class="ct-area"
                                    ct:values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]">
                                </path>
                            </g>
                            <g class="ct-series ct-series-c">
                                <path
                                    d="M50,210L50,204.394C89.5,204.394,129,182.456,168.5,182.456C208,182.456,247.5,193.669,287,193.669C326.5,193.669,366,183.675,405.5,183.675C445,183.675,484.5,163.688,524,163.688C563.5,163.688,603,151.744,642.5,151.744C682,151.744,721.5,135.169,761,135.169C800.5,135.169,840,134.925,879.5,134.925C919,134.925,958.5,102.994,998,102.994C1037.5,102.994,1077,110.063,1116.5,110.063C1156,110.063,1195.5,110.063,1235,110.063C1274.5,110.063,1314,85.931,1353.5,85.931L1353.5,210Z"
                                    class="ct-area"
                                    ct:values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]">
                                </path>
                            </g>
                        </g>
                        <g class="ct-labels">
                            <foreignObject style="overflow: visible;" x="50" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">9:00AM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="168.5" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">12:00AM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="287" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">3:00PM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="405.5" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">6:00PM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="524" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">9:00PM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="642.5" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">12:00PM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="761" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">3:00AM</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="879.5" y="215" width="118.5" height="20"><span
                                    class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px"
                                    xmlns="http://www.w3.org/1999/xhtml">6:00AM</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="185.625" x="10" height="24.375" width="30">
                                <span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="161.25" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">100</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="136.875" x="10" height="24.375" width="30">
                                <span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">200</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="112.5" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">300</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="88.125" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">400</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="63.75" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">500</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="39.375" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">600</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="15" x="10" height="24.375" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">700</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span
                                    class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px"
                                    xmlns="http://www.w3.org/1999/xhtml">800</span></foreignObject>
                        </g>
                    </svg> --}}
                                {{!-- chart data here --}}
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Click
                                <i class="fa fa-circle text-warning"></i> Click Second Time
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <script>
    new Chartist.Line('.ct-chart', {
        labels: [1, 2, 3, 4, 5, 6, 7, 8],
        series: [
            [5, 9, 7, 8, 5, 3, 5, 10]
        ]
    }, {
        low: 0,
        showArea: true
    });
</script> --}}