
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>EVEOpportunities</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">EVEOpportunities</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Find Profit</a>
          </li>
          <!-- <li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          -->
        </ul>

      </div>
    </nav>

    <main role="main" class="container">
      <form class="form-inline my-2 my-lg-0">


      <label for="hub">From: </label>
      <select id="hub" name="hub">
        <option value="Jita">Jita</option>
        <option value="Amarr">Amarr</option>
        <option value="Rens">Rens</option>
        <option value="Dodixie">Dodixie</option>
        <option value="Hek">Hek</option>
      </select>
      <label for="region"> To: </label>
      <select id="region" name="region">
        <option value="Aridia">Aridia</option>
        <option value="Black Rise">Black Rise</option>
        <option value="Branch">Branch</option>
        <option value="Catch">Catch</option>
        <option value="Cloud Ring">Cloud Ring</option>
        <option value="Cobalt Edge">Cobalt Edge</option>
        <option value="Curse">Curse</option>
        <option value="Deklein">Deklein</option>
        <option value="Delve">Delve</option>
        <option value="Derelik">Derelik</option>
        <option value="Detorid">Detorid</option>
        <option value="Devoid">Devoid</option>
        <option value="Domain">Domain</option>
        <option value="Esoteria">Esoteria</option>
        <option value="Essence">Essence</option>
        <option value="Etherium Reach">Etherium Reach</option>
        <option value="Everyshore">Everyshore</option>
        <option value="Fade">Fade</option>
        <option value="Feythabolis">Feythabolis</option>
        <option value="Fountain">Fountain</option>
        <option value="Geminate">Geminate</option>
        <option value="Genesis">Genesis</option>
        <option value="Great Wildlands">Great Wildlands</option>
        <option value="Heimatar">Heimatar</option>
        <option value="Immensea">Immensea</option>
        <option value="Impass">Impass</option>
        <option value="Insmother">Insmother</option>
        <option value="Kador">Kador</option>
        <option value="Khanid">Khanid</option>
        <option value="Kor-Azor">Kor-Azor</option>
        <option value="Lonetrek">Lonetrek</option>
        <option value="Malpais">Malpais</option>
        <option value="Metropolis">Metropolis</option>
        <option value="Molden Heath">Molden Heath</option>
        <option value="Oasa">Oasa</option>
        <option value="Omist">Omist</option>
        <option value="Outer Passage">Outer Passage</option>
        <option value="Outer Ring">Outer Ring</option>
        <option value="Paragon Soul">Paragon Soul</option>
        <option value="Period Basis">Period Basis</option>
        <option value="Perrigen Falls">Perrigen Falls</option>
        <option value="Placid">Placid</option>
        <option value="Pochven">Pochven</option>
        <option value="Providence">Providence</option>
        <option value="Pure Blind">Pure Blind</option>
        <option value="Querious">Querious</option>
        <option value="Scalding Pass">Scalding Pass</option>
        <option value="Sinq Laison">Sinq Laison</option>
        <option value="Solitude">Solitude</option>
        <option value="Stain">Stain</option>
        <option value="Syndicate">Syndicate</option>
        <option value="Tash-Murkon">Tash-Murkon</option>
        <option value="Tenal">Tenal</option>
        <option value="Tenerifis">Tenerifis</option>
        <option value="The Bleak Lands">The Bleak Lands</option>
        <option value="The Citadel">The Citadel</option>
        <option value="The Forge">The Forge</option>
        <option value="The Kalevala Expanse">The Kalevala Expanse</option>
        <option value="The Spire">The Spire</option>
        <option value="Tribute">Tribute</option>
        <option value="Vale of the Silent">Vale of the Silent</option>
        <option value="Venal">Venal</option>
        <option value="Verge Vendor">Verge Vendor</option>
        <option value="Wicked Creek">Wicked Creek</option>
      </select>
      <br>
      <label for="min_profit">Minimum Profit:</label>
      <input type="text" id="minimum_profit" name="minimum_profit" value="1,000,000" size=7> isk &nbsp
      <input type="submit" value="Search">
      </form>
      <br>
      <label for="emphasized">Emphasize:</label><br>
      <input type="checkbox" id="emphasize_profit" name="emphasize_profit" value="Profit">Profit
      <input type="checkbox" id="emphasize_profit_percent" name="emphasize_profit_percent" value="Profit Percent">Profit Percent
      <input type="checkbox" id="emphasize_volume" name="emphasize_volume" value="Volume">Volume
      <input type="checkbox" id="emphasize_days_sold" name="emphasize_days_sold" value="Days Sold">Days Sold
      <br>
      <br>

      <label for="item_types">Item Types:</label><br>
      <input type="checkbox" checked id="item_types" name="Ammunition & Charges" value="Ammunition & Charges">Ammunition & Charges
      <input type="checkbox" checked id="item_types" name="Drones" value="Drones">Drones
      <input type="checkbox" checked id="item_types" name="Implants & Boosters" value="Implants & Boosters">Implants & Boosters
      <!--<input type="checkbox" checked id="item_types" name="Manufacture & Research" value="Manufacture & Research">Manufacture & Research-->
      <input type="checkbox" checked id="item_types" name="Pilots Services" value="Pilots Services">Pilots Services
      <input type="checkbox" checked id="item_types" name="Planetary Infrastructure" value="Planetary Infrastructure">Planetary Infrastructure
      <input type="checkbox" checked id="item_types" name="Ship and Module Modifications" value="Ship and Module Modifications">Ship and Module Modifications
      <input type="checkbox" checked id="item_types" name="Ship Equipment" value="Ship Equipment">Ship Equipment
      <input type="checkbox" checked id="item_types" name="Ships" value="Ships">Ships



      <input type="checkbox" checked id="item_types" name="Structures" value="Structures">Structures




      <h2>From Jita to Etherium Reach</h2>
      <!--
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      -->
      <table class="table">
        <thead>
          <tr>
            <th scope = "col">Rank</th>
            <th scope = "col">Item Name</th>
            <th scope = "col">Item Type</th>
            <th scope = "col">Buy Price</th>
            <th scope = "col">Sell Price</th>
            <th scope = "col">Profit</th>
            <th scope = "col">%</th>
            <!-- <th scope = "col">Vol/Day</th> -->
            <!-- <th scope = "col">Cost</th> -->
            <th scope = "col">30 Day Volume</th>
            <th scope = "col">Days Sold</th>
          </tr>
        </thead>

      {% for item in ranked_items %}
        <tr>
          <td>{{ item['total rank'] }}</td>
          <td>{{ item['item_name'] }}</td>
          <td>{{ item['item_type'] }}</td>
          <td>{{ item['buy_price'] }}</td>
          <td>{{ item['avg'] }}</td>
          <td>{{ item['profit'] }}</td>
          <td>{{ item['profit_percent'] }}%</td>
          <!-- <td>{{ item['vol_per_day'] }}</td> -->
          <!-- <td>{{ item['cost'] }}</td> -->
          <td>{{ item['total_volume'] }}</td>
          <td>{{ item['num_days'] }}</td>
        </tr>
      {% endfor %}
      </table>


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
